{
    "version" : "2017-02-28",
    "operation" : "Scan",
    "filter": {
        "expression": "roomId = :roomId",
        "expressionValues": {
            ":roomId": { "S": "$ctx.source.roomId" }
        }
    }
}
